html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}


mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

h2 {
  background-color: black;
  text-align: left center;
  color: white;
  margin: 0px;
  font-size: 60px;
  font-style: bold,italic;
  font-family: cursive;
}

.para2 {
  background-color: cyan;
  text-align: center;
  color: black;
  margin: 0;
  font-size: 50px;
  font-style: bold,italic;
  font-family: cursive;
}

.para2:hover {
  color: red;
}

.img-Saroj{
  width: 230px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 0px;
}

body {
  background-image: url(images/background.png);
  background-size: auto;
  background-repeat: no-repeat;
}

ul {

}

ul li {
  list-style: none;
  display: inline-block;
  float: right;
}

ul li a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-style: italic,bold;
  font-family: cursive;
  color: white;
  padding: 0 20px;
}

ul li a:hover {
  color: red;
}

.para3 {
  padding: 0 0;
  color: white;
  font-family: cursive;
  font-style: bold,italic;
  font-size: 20px;
  background-color: black;
  text-align: center;
}

.para1 {
  color: red;
  font-family: cursive;
  font-style: bold,italic;
  text-align: center;
}
